body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 900;
}

/*Headings*/

.bigHeading {
  font-weight: 900 ;
  font-size: 3.5rem;
  line-height: 1.5;
}
.sectionHeading{
  font-size: 3rem;
  line-height: 1.5;
}
/*navbar section*/
.topContainer{
  padding: 3% 15%;
}
.navbar{
  padding: 0 0 4.5rem 0;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}
.nav-link{
  font-size: 1.4rem;
  font-weight: 100;
}
.nav-item{
  padding: 0 18px;
}



/*title section*/
#title{
  background-color: #ff4c68;
  color:#fff;
  text-align: left;
}
.downloadButton{
  margin: 5% 3% 5% 0;
}
.imgDiv{
  position: relative;
}
.phone{
  width: 60%;
  transform: rotate(25deg) ;
  position: absolute;
  right: 30%;
}
.container-fluid{
  padding: 7% 15%;
}

/*Features section*/

#features{
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.icons{
  color: #ef8172;
}
.icons:hover{
  color: #ff4c68;
}
.featuresCol{
  padding-top: 5rem;
}
.featuresHeader{
  padding-top: 4%;
  font-size: 1.5rem;
  font-weight: 550;
}

.featuresParagraph{
  color: #8f8f8f;
  width: 60%;
  margin: auto;
}

/*Testimonials section*/

#testimonials{
  background-color: #ef8172;
  color: #fff;
}
.testimonialText {
  font-size: 3rem;
  line-height: 1.5;
}
.testimonialImg{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}
.pressImg{
  width: 15%;
  margin: 20px 20px 50px;
}

/*pricing text*/
#pricing{
  padding: 100px;

}
.priceText {
  font-size: 3rem;
  line-height: 1.5;
}
.pricingCol{
  padding: 3% 2%;
}

#cta{
  background-color: #ff4c68;
  color: #fff;
}
#footer {
  background-color: #fff;
}
.footerIcons{
  margin: auto 0.438rem;
  padding-bottom: 2%;
}

.copyright{
  color: #8f8f8f;
}
@media (max-width: 1028px) {
  title{
    text-align: center;
  }
  .phone {
    position: static;
    transform: rotate(0deg);
  }
}